{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static core_tags i18n %}

{% block content %}

<div class="icon ">
    {% image self.get_parent_page.get_effective_image width-320 as tmp_photo %}
    <img src="{{ tmp_photo.url }}" alt="{{ self.get_parent_page.get_effective_image.title }}"/>
</div>

<div class="block {{self.get_parent_page.get_effective_extra_style_hints}}">
  <h3>{{self.title}}</h3>
  <p>{{self.subtitle}}</p>
<br>
{% for block in self.body %}
    {% if block.block_type == 'heading' %}
        <h5>{{ block.value }}</h5>
    {% else %}
    {% if block.block_type == 'image' %}
      {% image block.value width-240 %}
    {% else %}
    {% if block.block_type == 'numbered_list' %}
      <ol>
      {% for item in block.value %}
        <li>{{item}}</li>
      {% endfor %}
      </ol>
    {% else %}
        {{ block }}
    {% endif %}
    {% endif %}
    {% endif %}
{% endfor %}
</div>
{% endblock %}
