{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static core_tags i18n %}

{% block content %}

<div class="icon ">
  {% if competition.thank_you_page.get_parent_page.get_effective_image %}
    {% image competition.thank_you_page.get_parent_page.get_effective_image width-320 as tmp_photo %}
    <img src="{{ tmp_photo.url }}" alt="{{ self.get_parent_page.get_effective_image.title }}"/>
  {% endif %}
</div>

<div class="block {{competition.thank_you_page.get_parent_page.get_effective_extra_style_hints}}">
    {% if competition.thank_you_page %}
    <h3>{{competition.thank_you_page.title}}</h3>
    <p>{{competition.thank_you_page.subtitle}}</p>
    {% else %}
    <h3>{% trans 'Thank you!' %}</h3>
    <p>{% trans 'You will be notified if you have won!' %}</p>
    {% endif %}

  <a href="{{request.site.root_page.url}}" class="button inverted">{% trans "HOME" %}</a>
</div>

{% endblock %}
