{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static core_tags i18n %}

{% block content %}

<div class="icon">
  {% if self.image %}
    {% image self.image width-320 as tmp_photo %}
    <img src="{{ tmp_photo.url }}" alt="{{ self.image.title }}"/>
  {% endif %}
</div>

<div class="block {{self.get_effective_extra_style_hints}}">
  <br>
  <h3>{{self.title}}</h3>
  <p>{{self.description}}</p>
  <p>{{self.content}}</p>
  <a href="{% url 'molo.yourwords:competition_entry' self.id %}" class="button inverted">{% trans "Share your story" %}</a>
  <a href="{{request.site.root_page.url}}" class="button inverted">{% trans "HOME" %}</a>

</div>

{% endblock %}
