
{% load wagtailcore_tags wagtailimages_tags static core_tags i18n %}

{% block content %}

<div class="icon">
  {% if competition.image %}
    {% image competition.image width-320 as tmp_photo %}
    <img src="{{ tmp_photo.url }}" alt="{{ self.image.title }}"/>
  {% endif %}
</div>
<h2 class="list-header">{% trans "Competition" %}</h2>
<div class="block {{self.get_effective_extra_style_hints}}">
  <br>
  <h3>{{competition.title}}</h3>
  <p>{{competition.description}}</p>
  {% if request.user.is_authenticated %}
    <a href="{% url 'molo.yourwords:competition_entry' self.slug %}" class="button inverted">{% trans "Enter" %}</a>
  {% else %}
    <a href="{% url 'molo.profiles:auth_login' %}?next={{request.path}}" class="button inverted">{% trans "Log in to Enter" %}</a>
  {% endif %}
</div>

{% endblock %}
