{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static core_tags i18n %}

{% block content %}

<div class="icon ">
    {% image self.get_parent_page.get_effective_image width-320 as tmp_photo %}
    <img src="{{ tmp_photo.url }}" alt="{{ self.get_parent_page.get_effective_image.title }}"/>
</div>

<div class="block {{self.get_parent_page.get_effective_extra_style_hints}}">
  {% if self.title %}
    <h3>{{self.title}}</h3>
  {% else %}
    <p>{% trans "" %}</p>
  {% endif %}

  {% if self.subtitle %}
    <p>{{self.subtitle}}</p>
  {% else %}
    <p>{% trans "" %}</p>
  {% endif %}

  <a href="{{request.site.root_page.url}}" class="button inverted">{% trans "HOME" %}</a>

</div>

{% endblock %}
