{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags static core_tags i18n %}

{% block content %}

<div class="icon">
    {% image self.image width-320 as tmp_photo %}
    <img src="{{ tmp_photo.url }}" alt="{{ self.image.title }}"/>
</div>

<div class="block {{self.get_effective_extra_style_hints}}">
  <br>
  <h3>{{self.title}}</h3>
  <p>{{self.description}}</p>
  <div class="yourwords">
    <p>{{self.content}}</p>
    <br>
    <form action="{% url 'molo.yourwords:competition_entry' %}" method="post">{% csrf_token %}
        <label>{% trans "Title of your story (max 60 characters)" %}</label>
        {{ competition_entry_form.story_name }}
        <label>{% trans "Tell us your story here" %}</label>
        {{ competition_entry_form.story_text }}
        <div >
          {{ competition_entry_form.terms_or_conditions_approved }}
          <label>{% trans "I accept the Terms and Conditions" %}</label>
        </div>
        <div >
          {{ competition_entry_form.hide_real_name }}
          <label>{% trans "Share my story anonymously" %}</label>
        </div>
        <input type="submit" value="Share Your Story" />
    </form>
  </div>
</div>
{% endblock %}
